@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Tay!</h1>

    <div class="alert alert-info" role="alert">
        <strong>Hello, Master of the Clippers!</strong> This is your private corner for managing the styling symphony. Ready to create some follicular masterpieces?
    </div>

    <div class="alert alert-success mt-4" role="alert">
        <strong>Your Stage, Your Rules!</strong> Navigate through the menu to access all the tools you need to keep the clippers buzzing and the clients smiling.
    </div>

    <p class="lead">Time to craft some hair magic!</p>
</div>